image: alpine/helm

variables:
  SERVICE_NAME: scheduling-report-core
  REPO: asia-southeast2-docker.pkg.dev/finnet-artifact-cde/finnet-cde-repo
  NAMESPACE: finpay-cde
  SONAR_PROJECT_KEY: Scheduling-Report-Core

stages:
  - static-analysis
  - build
  - deploy

sonarqube-check:
  stage: static-analysis
  image:
    name: sonarsource/sonar-scanner-cli:5.0
    entrypoint: [""]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: "0"
  script:
    - sonar-scanner
  only:
    - master
  allow_failure: true

build:
  stage: build
  image: docker:20-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  services:
    - name: docker:20-dind
      alias: docker
      command: ["--tls=false","--mtu=1300"]
  before_script:
    - cat $GCP_KEYS_DEV | docker login -u _json_key --password-stdin https://$REPO
    - if [ "$CI_COMMIT_BRANCH" ==  "master" ] || [ "$CI_COMMIT_BRANCH" ==  "staging" ]; then VERSION=$CI_PIPELINE_IID; else VERSION=$CI_COMMIT_TAG; fi;
  only:
    refs:
      - tags
      - master
      - staging
  script:
    - echo "SERVICE_NAME:VERSION -> $SERVICE_NAME:$VERSION"
    - echo "REPO/SERVICE_NAME:VERSION -> $REPO/$SERVICE_NAME:$VERSION"
    - docker build -t $SERVICE_NAME:$VERSION .
    - docker image ls
    - docker tag $SERVICE_NAME:$VERSION $REPO/$SERVICE_NAME:$VERSION
    - docker push $REPO/$SERVICE_NAME:$VERSION

deploy_dev:
  stage: deploy
  tags:
    - kubedev
  variables:
    VERSION: $CI_PIPELINE_IID
    DEPLOY_ENVIRONMENT: "scheduling-report-core-dev"
  only:
    refs:
      - master
  when: on_success
  script:
    - echo "SERVICE_NAME:VERSION -> $SERVICE_NAME:$VERSION"
    - sed -i "s|J_APP_VERSION|$VERSION|g" helm/Chart.yaml
    - helm upgrade --install $SERVICE_NAME helm -f helm/$DEPLOY_ENVIRONMENT.yaml -n $NAMESPACE --wait --timeout 3m0s

deploy_production:
  stage: deploy
  tags:
    - kubeprod
  variables:
    VERSION: $CI_COMMIT_TAG
    DEPLOY_ENVIRONMENT: "scheduling-report-core-prod"
  only:
    refs:
      - tags
  when: manual
  script:
    - echo "SERVICE_NAME:VERSION -> $SERVICE_NAME:$VERSION"
    - sed -i "s|J_APP_VERSION|$VERSION|g" helm/Chart.yaml
    - helm upgrade --install $SERVICE_NAME helm -f helm/$DEPLOY_ENVIRONMENT.yaml -n $NAMESPACE --wait --timeout 3m0s
